@{
	ViewData["Title"] = "Home Page";
}


<div class="jumbotron p-3 p-md-5 text-white rounded bg-light home-header" style="background-color:cadetblue">
	<img class="img-fluid" 100% src="~/Images/header_textile.jpg" />
	<div class="col-md-6 px-0">
		<h1 class="display-4 font-italic" style="color: darkolivegreen">Explore the textile world with BeeTex</h1>
		<p class="lead my-3">Find the trends of the fabrics with the most popular textures and fashion designs with us.</p>
		<p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
	</div>
</div>
